@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Righteous&display=swap');


/* CONFIG GERAL */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    /* FONTS */
    --logo: "Pacifico", cursive;
    --titulo: "Righteous", sans-serif;
    --paragrafo: "Open Sans", sans-serif;

    /*COLORS*/
    --verde:#3CA542;
    --creme:#FFF7E8;
    --marron:#623804;
}

.fundo-verde{
    background-color: var(--verde);
}

.fundo-marron{
    background-color: var(--marron);
}

.fundo-creme{
    background-color: var(--creme);
}

a{
    text-decoration: none;
    font-family: var(--titulo);
}

h1, h2, h3, h4{    
    font-family: var(--titulo);
}

p{    
    font-family: var(--paragrafo);
}

button{
    cursor: pointer;
    font-family: var(--titulo);
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.largura-container{
    width: 100%;
    max-width: 800px;
}

/* CONFIG HEADER */

.container_carrossel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    min-height: 400px;
    background: url(../src/img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 20px;
}

.btn_carrossel{
    display: flex;
    flex-direction: row;
    background-color: var(--verde);
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 50%;
    margin-bottom: 20px;
}

.container_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0px 25px 0px;
}

.menu{
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 1028px;
}

.menu form{
    display: flex;
    border-bottom: 1px solid var(--marron);
}
.menu form input{
    display: flex;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    color: var(--marron);
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: var(--marron);
}

.menu form input::placeholder{
    color: rgba(255, 255, 255, 0.473);
}

.menu form a, button{
    background-color: transparent;
    border: none;
}

.menu img{
    display: flex;
    width: 100%;
    max-width: 35px;
    height: auto;
}

/* CONFIG MAIN */

.container_categorias{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 0px 20px 0px;
}

.container_categorias p{    
    padding: 10px;
    background-color: var(--marron);
    color: var(--creme);
    border: 0;
    border-radius: 20px;
    width:90px;
    text-align: center;
    padding: 10px;
}

.container_categorias p:hover{
    background-color: var(--verde);
}

.secao_produtos{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container_produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 900px;
    gap: 10px;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
}

.container_produtos article{
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;   
    height: auto;
    gap: 10px;
    padding: 20px 0px 20px 0px;
    margin: 0px 10px 0px 10px;
}

.borda-esquerda{
    border-left: 2px solid var(--marron);
    padding: 20px;
}

.borda-baixo{
    border-bottom: 2px solid var(--marron);

}

.container_produtos article div{  
    display: flex;  
    flex: 1;  
    width: 100%;
    height: auto;
}

.produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 10px;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.produto img{
    width: 250px;
    height: 250px;
    border: 0;
    border-radius: 10px;
}

.produto h1, h2, h3, h4{
    color: var(--verde);
}

.produtos button{
    padding: 15px;
    background-color: var(--marron);
    color: var(--creme);
    border: 0;
    border-radius: 8px;
}

.produtos button:hover{
    background-color: var(--verde);
}

.container_banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 450px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150px;
    height: 150px;
}

.container_contato{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
    min-height: 450px;
}

.redes h3{
    font-size: 24px;
}

.redes a{
    text-decoration: none;
    color: black;
}

.redes a:hover{
    color: var(--verde);
}

.redes a p{
    display: flex;
    align-items: center;
    gap: 5px;
}

.redes p img{
    width: 100%;
    max-width: 30px;
}

.mapa iframe{
    display: flex;
    width: 100%;
    max-width: 250px;
    height: 250px;
    border: 3px solid var(--marron);
    border-radius: 20px;
}

/* CONFIG FOOTER */

footer p{
    padding: 10px;
    color: var(--creme);
}